---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [255]:
import pandas as pd
import re

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(5)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
dtype: object

In [324]:
def date_sorter():
    
    # DONE 04/20/2009; 04/20/09; 4/20/09; 4/3/09
    regex1 = '(\d{1,2}[/-]\d{1,2}[/-]\d{2,4})'
    # DONE Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009;
    # DONE Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
    regex2 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[- ,.] ?\d?\d(?:st|nd|rd|th)?[- ,.] ?\d{2,4})'
    # DONE 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
    regex3 = '((?:(?:\d?\d(?:st|nd|rd|th)?)[- ,.]? ?)(?:(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*)[- ,.] ?(?:\d{0,3}\d))'
    # DONE Feb 2009; Sep 2009; Oct 2010
    regex4 = '((?:(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*)[- ,.] ?(?:\d{0,3}\d))'
    # DONE 6/2008; 12/2009
    regex5 = '((?:\d{1,2})[/](?:\d{4}))'
    # DONE 1998
    regex6 = '(([1|2]\d{3}))'

    complete = f'({regex1}|{regex2}|{regex3}|{regex4}|{regex5}|{regex6})'

    parsed_dates = df.str.extractall(complete)
    dict = {'Decemeber':'December', 'Janaury':'January'}

    parsed_dates.iloc[:, 0].replace(dict, inplace=True)

    parsed_dates = parsed_dates.loc[:, 0].str.strip().str.replace(r'[\.,]', '').str.replace(r'(- )', '')

    parsed_dates = parsed_dates.replace('Decemeber 1978', 'December 1978').replace('Janaury 1993', 'January 1993').replace('2June, 1999', 'June, 1999').replace(r'[.]', '')

    parsed_dates[321] = 'June 1999'

    finale = pd.to_datetime(parsed_dates.loc[:, 0])
    
    return finale.sort_values().reset_index()['index']

In [325]:
date_sorter()

0        9
1       84
2        2
3       53
4       28
5      474
6      153
7       13
8      129
9       98
10     111
11     225
12      31
13     171
14     191
15     486
16     335
17     415
18      36
19     405
20     323
21     422
22     375
23     380
24     345
25      57
26     481
27     436
28     104
29     299
      ...
470    220
471    208
472    243
473    139
474    320
475    383
476    244
477    286
478    480
479    431
480    279
481    198
482    381
483    463
484    366
485    439
486    255
487    401
488    475
489    257
490    152
491    235
492    464
493    253
494    427
495    231
496    141
497    186
498    161
499    413
Name: index, Length: 500, dtype: int64

In [317]:
parsed_dates.shape

(501,)

In [323]:
finale.shape

(500,)

In [3]:
# DONE 04/20/2009; 04/20/09; 4/20/09; 4/3/09
df.str.extractall(r'(?P<date>(?P<day>\d?\d)[/-](?P<month>\d?\d)[/-](?P<year>\d{2,4}))')

                 date day month  year
    match
0   0        03/25/93  03    25    93
1   0         6/18/85   6    18    85
2   0          7/8/71   7     8    71
3   0         9/27/75   9    27    75
4   0          2/6/96   2     6    96
5   0         7/06/79   7    06    79
6   0         5/18/78   5    18    78
7   0        10/24/89  10    24    89
8   0          3/7/86   3     7    86
9   0         4/10/71   4    10    71
10  0         5/11/85   5    11    85
11  0         4/09/75   4    09    75
12  0         8/01/98   8    01    98
13  0         1/26/72   1    26    72
14  0       5/24/1990   5    24  1990
15  0       1/25/2011   1    25  2011
16  0         4/12/82   4    12    82
17  0      10/13/1976  10    13  1976
18  0         4/24/98   4    24    98
19  0         5/21/77   5    21    77
20  0         7/21/98   7    21    98
21  0        10/21/79  10    21    79
22  0         3/03/90   3    03    90
23  0         2/11/76   2    11    76
24  0      07/25/1984  07    25  1984
25  0         4-13-82   4    13    82
26  0         9/22/89   9    22    89
27  0         9/02/76   9    02    76
28  0         9/12/71   9    12    71
29  0        10/24/86  10    24    86
...               ...  ..   ...   ...
95  0       4/11/1974   4    11  1974
96  0         7/18/86   7    18    86
97  0         3/31/91   3    31    91
98  0         5/13/72   5    13    72
99  0        11/14/83  11    14    83
100 0         8/16/92   8    16    92
101 0        10/05/97  10    05    97
102 0      07/18/2002  07    18  2002
103 0         9/22/82   9    22    82
104 0         2/24/74   2    24    74
105 0         2/03/78   2    03    78
106 0       2/11/2006   2    11  2006
107 0         8/22/83   8    22    83
108 0         5/04/74   5    04    74
109 0       7/20/2011   7    20  2011
110 0         6/17/95   6    17    95
111 0         6/10/72   6    10    72
112 0        10/16/82  10    16    82
113 0        12/15/92  12    15    92
114 0         12/8/97  12     8    97
115 0         4/05/89   4    05    89
116 0        12/04/87  12    04    87
117 0         6/20/77   6    20    77
118 0       4/27/2006   4    27  2006
119 0        07/17/92  07    17    92
120 0        12/22/98  12    22    98
121 0        10/02/96  10    02    96
122 0        11/05/90  11    05    90
123 0         5/04/77   5    04    77
124 0         2/27/96   2    27    96

[126 rows x 4 columns]

In [191]:
len(res)

34

In [4]:
# DONE Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009;
# 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
# DONE Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
#Feb 2009; Sep 2009; Oct 2010
pattern0 = '(?P<date>(?P<month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*)[- ,.] ?(?P<day>\d?\d(?:st|nd|rd|th)?)[- ,.] ?(?P<year>\d{0,3}\d))'
df.str.extractall(pattern0, re.I)

                          date      month day  year
    match
194 0           April 11, 1990      April  11  1990
195 0             May 30, 2001        May  30  2001
196 0             Feb 18, 1994        Feb  18  1994
197 0        February 18, 1981   February  18  1981
198 0        October. 11, 2013    October  11  2013
199 0              Jan 24 1986        Jan  24  1986
200 0            July 26, 1978       July  26  1978
201 0        December 23, 1999   December  23  1999
202 0             May 15, 1989        May  15  1989
203 0       September 06, 1995  September  06  1995
204 0            Mar. 10, 1976        Mar  10  1976
205 0             Jan 27, 1983        Jan  27  1983
206 0          October 23 1990    October  23  1990
207 0           August 12 2004     August  12  2004
208 0       September 01, 2012  September  01  2012
209 0            July 25, 1983       July  25  1983
210 0          August 11, 1989     August  11  1989
211 0           April 17, 1992      April  17  1992
212 0            July 24, 1999       July  24  1999
213 0            July 11, 1997       July  11  1997
214 0            Sep. 10, 1974        Sep  10  1974
215 0          August 14, 1981     August  14  1981
216 0             Nov 11, 1988        Nov  11  1988
217 0            June 13, 2011       June  13  2011
218 0             May 14, 1989        May  14  1989
219 0              Dec 14 1975        Dec  14  1975
220 0            June 25, 2012       June  25  2012
221 0             Oct 18, 1980        Oct  18  1980
222 0             May 15, 1998        May  15  1998
223 0          October 14 1974    October  14  1974
224 0            July 25, 1998       July  25  1998
225 0            June 15, 1972       June  15  1972
226 0         January 07, 1991    January  07  1991
227 0      September. 15, 2011  September  15  2011

In [185]:
df.iloc[354]

'Deviated septum, 3/1993 Activities of Daily Living (ADL) Bathing: Independent\n'

In [5]:
# DONE 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
# DONE Feb 2009; Sep 2009; Oct 2010
pattern1 = '(?P<date>(?:(?P<day>\d?\d(?:st|nd|rd|th)?)?[- ,.]? ?)?(?P<month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*)[- ,.] ?(?P<year>\d{0,3}\d))'
df.str.extractall(pattern1)

                       date  day      month  year
    match
125 0           24 Jan 2001   24        Jan  2001
126 0           10 Sep 2004   10        Sep  2004
127 0           26 May 1982   26        May  1982
128 0          28 June 2002   28       June  2002
129 0           06 May 1972   06        May  1972
130 0           25 Oct 1987   25        Oct  1987
131 0           14 Oct 1996   14        Oct  1996
132 0           30 Nov 2007   30        Nov  2007
133 0          28 June 1994   28       June  1994
134 0           14 Jan 1981   14        Jan  1981
135 0           10 Oct 1985   10        Oct  1985
136 0      11 February 1985   11   February  1985
137 0           10 Feb 1983   10        Feb  1983
138 0           05 Feb 1992   05        Feb  1992
139 0           21 Oct 2012   21        Oct  2012
140 0           14 Feb 1995   14        Feb  1995
141 0           30 May 2016   30        May  2016
142 0           22 Jan 1996   22        Jan  1996
143 0           14 Oct 1992   14        Oct  1992
144 0           06 Oct 2003   06        Oct  2003
145 0           18 Oct 1999   18        Oct  1999
146 0           11 Nov 2004   11        Nov  2004
147 0           30 May 2001   30        May  2001
148 0           02 Feb 1978   02        Feb  1978
149 0           09 Sep 1989   09        Sep  1989
150 0         12 March 1980   12      March  1980
151 0          22 June 1990   22       June  1990
152 0           28 Sep 2015   28        Sep  2015
153 0           13 Jan 1972   13        Jan  1972
154 0           06 Mar 1974   06        Mar  1974
...                     ...  ...        ...   ...
313 0        Decemeber 1978  NaN  Decemeber  1978
314 0          January 2007  NaN    January  2007
315 0              Jun 1976  NaN        Jun  1976
316 0              May 2011  NaN        May  2011
317 0           - Mar, 1975  NaN        Mar  1975
318 0              Jan 1978  NaN        Jan  1978
319 0             July 1975  NaN       July  1975
320 0         November 2012  NaN   November  2012
321 0           2June, 1999    2       June  1999
322 0          October 1991  NaN    October  1991
323 0            March 1973  NaN      March  1973
324 0          October 1996  NaN    October  1996
325 0              Jun 2007  NaN        Jun  2007
326 0          October 1995  NaN    October  1995
327 0            April 1999  NaN      April  1999
328 0             May, 2001  NaN        May  2001
329 0           March, 2000  NaN      March  2000
330 0            April 1988  NaN      April  1988
331 0         December 1993  NaN   December  1993
332 0             June 1974  NaN       June  1974
333 0         November 1997  NaN   November  1997
334 0             July 1986  NaN       July  1986
335 0         February 1973  NaN   February  1973
336 0            March 1978  NaN      March  1978
337 0              Dec 2007  NaN        Dec  2007
338 0             Apr, 1998  NaN        Apr  1998
339 0           March, 2005  NaN      March  2005
340 0              May 1980  NaN        May  1980
341 0             .Nov 2007  NaN        Nov  2007
342 0            March 1976  NaN      March  1976

[218 rows x 4 columns]

In [6]:
# 6/2008; 12/2009
# 2009; 2010
df.str.extractall(r'(?P<date>(?:^| )(?P<day>\d{1,2})[/](?P<year>\d{4}))')

               date day  year
    match
343 0        6/1998   6  1998
344 0        6/2005   6  2005
345 0       10/1973  10  1973
346 0        9/2005   9  2005
347 0       03/1980  03  1980
348 0       12/2005  12  2005
349 0        5/1987   5  1987
350 0        5/2004   5  2004
351 0        8/1974   8  1974
352 0        3/1986   3  1986
353 0       10/1997  10  1997
354 0        3/1993   3  1993
355 0        3/1981   3  1981
356 0        9/2003   9  2003
357 0       10/1993  10  1993
358 0        1/1983   1  1983
359 0        7/1994   7  1994
360 0       12/2008  12  2008
361 0       10/1980  10  1980
363 0       12/1975  12  1975
364 0       11/2010  11  2010
365 0        7/1997   7  1997
366 0        7/2014   7  2014
367 0        9/2001   9  2001
368 0        8/1986   8  1986
369 0        1/1978   1  1978
371 0        1/2009   1  2009
372 0        5/1995   5  1995
373 0        8/1989   8  1989
374 0       11/2000  11  2000
...             ...  ..   ...
424 0        4/1979   4  1979
425 0        7/2004   7  2004
426 0       11/1984  11  1984
427 0        5/2016   5  2016
429 0       11/1982  11  1982
430 0       06/1981  06  1981
431 0        4/2013   4  2013
432 0        4/1999   4  1999
433 0        5/2006   5  2006
434 0       10/1978  10  1978
435 0       12/1989  12  1989
436 0        2/1974   2  1974
437 0       11/1986  11  1986
438 0        4/1983   4  1983
439 0       10/2014  10  2014
440 0        6/1989   6  1989
441 0        9/1980   9  1980
442 0        9/1992   9  1992
443 0        9/2000   9  2000
444 0        7/1981   7  1981
445 0        1/2008   1  2008
446 0        4/2002   4  2002
447 0        7/1985   7  1985
448 0        5/2010   5  2010
449 0        8/2002   8  2002
450 0        1/1994   1  1994
451 0       12/2004  12  2004
452 0        3/2003   3  2003
453 0        7/1991   7  1991
454 0        7/1982   7  1982

[107 rows x 3 columns]

In [136]:
df.iloc[195]

'MRI May 30, 2001 empty sella but no problems with endocrine functionPertinent Medical Review of Systems Constitutional:\n'

In [88]:
df.str.extractall(r'(?P<date>(?:^| )(?P<year>[1|2]\d{3})(?:\.| |,|$))')

             date  year
    match
125 0       2001.  2001
126 0       2004   2004
127 0       1982   1982
128 0        2002  2002
129 0       1972   1972
130 0       1987   1987
131 0       1996   1996
132 0       2007   2007
133 0       1994   1994
134 0       1981   1981
135 0       1985   1985
136 0       1985   1985
137 0       1983   1983
138 0       1992   1992
139 0       2012   2012
140 0       1995   1995
141 0       2016   2016
142 0       1996   1996
143 0       1992   1992
144 0       2003   2003
145 0       1999   1999
146 0       2004   2004
147 0       2001   2001
148 0       1978   1978
149 0       1989   1989
150 0       1980   1980
151 0       1990   1990
152 0       2015   2015
153 0       1972   1972
154 0       1974   1974
...           ...   ...
460 0        2012  2012
461 0       1991,  1991
463 0       2014   2014
464 0       2016   2016
465 0       1976,  1976
467 0       2011   2011
468 0       1997,  1997
469 0       2003.  2003
471 0       1999.  1999
474 0       1972.  1972
475 0       2015   2015
476 0       1989   1989
477 0       1994   1994
479 0       1996   1996
480 0       2013,  2013
483 0        1995  1995
484 0       2004   2004
485 0       1987.  1987
486 0       1973   1973
487 0       1992   1992
488 0        1977  1977
489 0        1985  1985
490 0        2007  2007
491 0        2009  2009
492 0       1986.  1986
494 0       2002   2002
495 0       1979   1979
497 0       2008   2008
498 0       2005   2005
499 0       1980,  1980

[227 rows x 2 columns]

In [295]:
# DONE 04/20/2009; 04/20/09; 4/20/09; 4/3/09
regex1 = '(\d{1,2}[/-]\d{1,2}[/-]\d{2,4})'
# DONE Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009;
# DONE Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
regex2 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[- ,.] ?\d?\d(?:st|nd|rd|th)?[- ,.] ?\d{4})'
# DONE 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
regex3 = '((?:(?:\d?\d(?:st|nd|rd|th)?)[- ,.]? ?)(?:(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*)[- ,.] ?(?:\d{0,3}\d))'
# DONE Feb 2009; Sep 2009; Oct 2010
regex4 = '((?:(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*)[- ,.] ?(?:\d{0,3}\d))'
# DONE 6/2008; 12/2009
regex5 = '((?:^| )(?:\d{1,2})[/](?:\d{4}))'
# DONE 1998
regex6 = '((?:^| )([1|2]\d{3})(?:\.| |,|$))'

complete = f'({regex1}|{regex2}|{regex3}|{regex4}|{regex5}|{regex6})'

parsed_dates = df.str.extractall(complete)

dict = {'Decemeber':'December', 'Janaury':'January'}

parsed_dates.iloc[:, 0].replace(dict, inplace=True)

parsed_dates = parsed_dates.loc[:, 0].str.strip().str.replace(r'[\.,]', '').str.replace(r'(- )', '')

parsed_dates = parsed_dates.replace('Decemeber 1978', 'December 1978').replace('Janaury 1993', 'January 1993').replace('2June, 1999', 'June, 1999').replace(r'[.]', '')

parsed_dates[321] = 'June 1999'

finale = pd.to_datetime(parsed_dates.loc[:, 0])

In [303]:
finale.reset_index()[(finale.reset_index()['index'] -finale.reset_index()['index'] -1) != -1]

Empty DataFrame
Columns: [index, 0]
Index: []

In [231]:
parsed_dates = parsed_dates.replace('Decemeber 1978', 'December 1978').replace('Janaury 1993', 'January 1993').replace('2June, 1999', 'June, 1999').replace(r'[.]', '')

In [279]:
# DONE 04/20/2009; 04/20/09; 4/20/09; 4/3/09
regex10 = '(\d{1,2}[/-]\d{1,2}[/-]\d{2,4})'
# DONE Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009;
# DONE Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
regex20 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[- ,.] ?\d?\d(?:st|nd|rd|th)?[- ,.] ?\d{4})'
# DONE 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
regex30 = '((?:(?:\d?\d(?:st|nd|rd|th)?)[- ,.]? ?)(?:(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*)[- ,.] ?(?:\d{0,3}\d))'
# DONE Feb 2009; Sep 2009; Oct 2010
regex40 = '((?:(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*)[- ,.] ?(?:\d{0,3}\d))'
# DONE 6/2008; 12/2009
regex50 = '((?:^| )(?:\d{1,2})[/](?:\d{4}))'
# DONE 1998
regex6 = '((?:^| )([1|2]\d{3})(?:\.| |,|$))'

In [287]:
df.str.extractall(regex4).shape, df.str.extractall(regex40).shape

((218, 1), (218, 1))

In [281]:

complete = f'({regex30}|{regex40})'

df.str.extractall(complete).shape

(218, 3)

In [278]:
parsed_dates[194]

match
0    April 11
1        1990
Name: 0, dtype: object

In [228]:
df[321]

'2June, 1999 Audit C Score Current:\n'

In [232]:
parsed_dates[321]

match
0    2 June 1999
Name: 0, dtype: object

In [192]:
parsed_dates

     match
0    0          03/25/93
1    0           6/18/85
2    0            7/8/71
3    0           9/27/75
4    0            2/6/96
5    0           7/06/79
6    0           5/18/78
7    0          10/24/89
8    0            3/7/86
9    0           4/10/71
10   0           5/11/85
11   0           4/09/75
12   0           8/01/98
13   0           1/26/72
14   0         5/24/1990
15   0         1/25/2011
16   0           4/12/82
17   0        10/13/1976
18   0           4/24/98
19   0           5/21/77
20   0           7/21/98
21   0          10/21/79
22   0           3/03/90
23   0           2/11/76
24   0        07/25/1984
25   0           4-13-82
26   0           9/22/89
27   0           9/02/76
28   0           9/12/71
29   0          10/24/86
                 ...
460  0              2012
461  0              1991
463  0              2014
464  0              2016
465  0              1976
467  0              2011
468  0              1997
469  0              2003
471  0              1999
474  0              1972
475  0              2015
476  0              1989
477  0              1994
479  0              1996
480  0              2013
483  0              1995
484  0              2004
485  0              1987
486  0              1973
487  0              1992
488  0              1977
489  0              1985
490  0              2007
491  0              2009
492  0              1986
494  0              2002
495  0              1979
497  0              2008
498  0              2005
499  0              1980
Name: 0, Length: 499, dtype: object

In [240]:
parsed_dates.to_csv('test.csv')

In [234]:
pd.to_datetime(parsed_dates.iloc[460:, ])

460   1994-01-01
461   2004-12-01
462   2003-03-01
463   1991-07-01
464   1982-07-01
465   1984-01-01
466   2000-01-01
467   2001-01-01
468   1982-01-01
469   1998-01-01
470   2012-01-01
471   1991-01-01
472   2014-01-01
473   2016-01-01
474   1976-01-01
475   2011-01-01
476   1997-01-01
477   2003-01-01
478   1999-01-01
479   1972-01-01
480   2015-01-01
481   1989-01-01
482   1994-01-01
483   1996-01-01
484   2013-01-01
485   1995-01-01
486   2004-01-01
487   1987-01-01
488   1973-01-01
489   1992-01-01
490   1977-01-01
491   1985-01-01
492   2007-01-01
493   2009-01-01
494   1986-01-01
495   2002-01-01
496   1979-01-01
497   2008-01-01
498   2005-01-01
499   1980-01-01
Name: 0, dtype: datetime64[ns]

In [288]:
# DONE 04/20/2009; 04/20/09; 4/20/09; 4/3/09 # (\.|,|\(|\)|$| )
regex1 = "(\d{1,2}[/-](\d{1,2})[/-](\d{2}(\d{2})?))"
ref1 = df.str.extractall(regex1)
ref10 = ref1[ref1.iloc[:, 1].astype('int') <= 31]
dt1 = pd.to_datetime(ref10.loc[:, 0])

In [289]:
# DONE Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009;
# DONE Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
regex3 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[- ,.] ?\d?\d(?:st|nd|rd|th)?[- ,.] ?\d{2,4})'
ref3 = df.str.extractall(regex3)
dt3 = pd.to_datetime(ref3.iloc[:, 0])

In [188]:
df[72] = df[72].replace('4.9/36/308', '')

In [180]:
parsed_dates.drop([72][0]).loc[69:75, ]

    match
69  0        11/3/1985
70  0          7/04/82
71  0          4-13-89
73  0          4/12/74
74  0         09/19/81
75  0           9/6/79
Name: 0, dtype: object

In [290]:
## DONE 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
# DONE 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
# DONE Feb 2009; Sep 2009; Oct 2010
#regex20 = '((?:(?:\d?\d(?:st|nd|rd|th)?)?[- ,.]? ?)?(?:(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*)[- ,.] ?(?:\d{0,3}\d))'
regex2 = '(?P<date>(?:(?:\d?\d(?:st|nd|rd|th)?)[- ,.]? ?)?(?:(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*)(?:[\. ,])? ?(?:\d{2,4}))'

ref2 = df.str.extractall(regex2)
ref2 = ref2.replace('Decemeber 1978', 'December 1978').replace('Janaury 1993', 'January 1993').replace('2June, 1999', 'June, 1999').replace(r'[.]', '')
#ref2.drop([321], inplace=True)
ref2 = ref2.apply(lambda x: x.str.replace(r'[,.]', ''))
#dt2 = pd.to_datetime(ref2.loc[:, 'date'])
#

In [266]:
ref2

                       date
    match
125 0           24 Jan 2001
126 0           10 Sep 2004
127 0           26 May 1982
128 0          28 June 2002
129 0           06 May 1972
130 0           25 Oct 1987
131 0           14 Oct 1996
132 0           30 Nov 2007
133 0          28 June 1994
134 0           14 Jan 1981
135 0           10 Oct 1985
136 0      11 February 1985
137 0           10 Feb 1983
138 0           05 Feb 1992
139 0           21 Oct 2012
140 0           14 Feb 1995
141 0           30 May 2016
142 0           22 Jan 1996
143 0           14 Oct 1992
144 0           06 Oct 2003
145 0           18 Oct 1999
146 0           11 Nov 2004
147 0           30 May 2001
148 0           02 Feb 1978
149 0           09 Sep 1989
150 0         12 March 1980
151 0          22 June 1990
152 0           28 Sep 2015
153 0           13 Jan 1972
154 0           06 Mar 1974
...                     ...
313 0         December 1978
314 0          January 2007
315 0              Jun 1976
316 0              May 2011
317 0              Mar 1975
318 0              Jan 1978
319 0             July 1975
320 0         November 2012
321 0             June 1999
322 0          October 1991
323 0            March 1973
324 0          October 1996
325 0              Jun 2007
326 0          October 1995
327 0            April 1999
328 0              May 2001
329 0            March 2000
330 0            April 1988
331 0         December 1993
332 0             June 1974
333 0         November 1997
334 0             July 1986
335 0         February 1973
336 0            March 1978
337 0              Dec 2007
338 0              Apr 1998
339 0            March 2005
340 0              May 1980
341 0              Nov 2007
342 0            March 1976

[218 rows x 1 columns]

In [145]:
df.loc[192]

'06 May 1993 CPT Code: 90792: With medical services\n'

In [148]:
df.loc[193]

's 22 year old single Caucasian/Latino woman, unemployed Cook recent college graduate, living along with pet rabbit, with long history of depression with SA but never hospitalized, as well as obesity, hypothyroidism, and PCO, referred by new NMH PCP Dr. Evelyn Julian for urgent evaluation and treatment till first visit with colleague, Dr.  Inez Burns, on 18 Jan 1995.\n'

In [147]:
df.loc[194]

'April 11, 1990 CPT Code: 90791: No medical services\n'

In [155]:
df.loc[199]

'.Came back to US on Jan 24 1986, saw Dr. Quackenbush at Beaufort Memorial Hospital.  Checked VPA level and found it to be therapeutic and confirmed BPAD dx.  Also, has a general physician exam and found to be in good general health, except for being slightly overwt.\n'

In [291]:
# DONE 6/2008; 12/2009
regex4 = '((?:^| )(?:\d{1,2})[/](?:\d{4}))'
ref4 = df.str.extractall(regex4)
dt4 = pd.to_datetime(ref4.loc[:, 0])

In [292]:
# DONE 1998
regex5 = '((?:^| )([1|2]\d{3})(?:\.| |,|$))'
ref5 = df.str.extractall(regex5)
dt5 = pd.to_datetime(ref5.loc[455:, 0])

In [293]:
frames = [dt1, dt2, dt3, dt4, dt5]

In [107]:
ttg = pd.concat(frames).reset_index()

In [113]:
ttg[(ttg['level_0'] - ttg['level_0'] -1) == -1]

     level_0  match          0
0          0      0 1993-03-25
1          1      0 1985-06-18
2          2      0 1971-07-08
3          3      0 1975-09-27
4          4      0 1996-02-06
5          5      0 1979-07-06
6          6      0 1978-05-18
7          7      0 1989-10-24
8          8      0 1986-03-07
9          9      0 1971-04-10
10        10      0 1985-05-11
11        11      0 1975-04-09
12        12      0 1998-08-01
13        13      0 1972-01-26
14        14      0 1990-05-24
15        15      0 2011-01-25
16        16      0 1982-04-12
17        17      0 1976-10-13
18        18      0 1998-04-24
19        19      0 1977-05-21
20        20      0 1998-07-21
21        21      0 1979-10-21
22        22      0 1990-03-03
23        23      0 1976-02-11
24        24      0 1984-07-25
25        25      0 1982-04-13
26        26      0 1989-09-22
27        27      0 1976-09-02
28        28      0 1971-09-12
29        29      0 1986-10-24
..       ...    ...        ...
455      460      0 2012-01-01
456      461      0 1991-01-01
457      463      0 2014-01-01
458      464      0 2016-01-01
459      465      0 1976-01-01
460      467      0 2011-01-01
461      468      0 1997-01-01
462      469      0 2003-01-01
463      471      0 1999-01-01
464      474      0 1972-01-01
465      475      0 2015-01-01
466      476      0 1989-01-01
467      477      0 1994-01-01
468      479      0 1996-01-01
469      480      0 2013-01-01
470      483      0 1995-01-01
471      484      0 2004-01-01
472      485      0 1987-01-01
473      486      0 1973-01-01
474      487      0 1992-01-01
475      488      0 1977-01-01
476      489      0 1985-01-01
477      490      0 2007-01-01
478      491      0 2009-01-01
479      492      0 1986-01-01
480      494      0 2002-01-01
481      495      0 1979-01-01
482      497      0 2008-01-01
483      498      0 2005-01-01
484      499      0 1980-01-01

[485 rows x 3 columns]

In [4]:
# DONE 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
# DONE Feb 2009; Sep 2009; Oct 2010
regex4 = '((?:(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*)[- ,.] ?(?:\d{0,3}\d))'
ref4 = df.str.extractall(regex4)
ref4 = ref4.replace('Decemeber 1978', 'December 1978').replace('Janaury 1993', 'January 1993')

In [97]:
pd.DataFrame(dt2).reset_index()['level_0'][(pd.DataFrame(dt2).reset_index()['level_0'] - pd.DataFrame(dt2).reset_index()['level_0'] - 1) == -1]

0      125
1      126
2      127
3      128
4      129
5      130
6      131
7      132
8      133
9      134
10     135
11     136
12     137
13     138
14     139
15     140
16     141
17     142
18     143
19     144
20     145
21     146
22     147
23     148
24     149
25     150
26     151
27     152
28     153
29     154
      ...
154    313
155    314
156    315
157    316
158    317
159    318
160    319
161    320
162    321
163    322
164    323
165    324
166    325
167    326
168    327
169    328
170    329
171    330
172    331
173    332
174    333
175    334
176    335
177    336
178    337
179    338
180    339
181    340
182    341
183    342
Name: level_0, Length: 184, dtype: int64

In [294]:
leg = 0
for i in frames:
    leg += len(i)
print(leg)

485

In [93]:
len(dt1)

125

In [127]:
df.str.extractall(regex20).shape, df.str.extractall(regex2).shape

((218, 1), (218, 1))

193    s 22 year old single Caucasian/Latino woman, u...
194    April 11, 1990 CPT Code: 90791: No medical ser...
195    MRI May 30, 2001 empty sella but no problems w...
196    .Feb 18, 1994: made a phone call to Mom and Mo...
197    Brother died February 18, 1981 Parental/Caregi...
198    none; but currently has appt with new HJH PCP ...
199    .Came back to US on Jan 24 1986, saw Dr. Quack...
200    July 26, 1978 Total time of visit (in minutes):\n
201    father was depressed inpatient at DFC December...
202                   May 15, 1989 SOS-10 Total Score:\n
203    September 06, 1995 Total time of visit (in min...
204    Mar. 10, 1976 CPT Code: 90791: No medical serv...
205                    .Got back to U.S. Jan 27, 1983.\n
206    Queen Hamilton in Bonita Springs courthouse.  ...
207    r August 12 2004 - diagnosed with Parkinson's ...
208                            September 01, 2012 Age:\n
209    July 25, 1983 Total time of visit (in minutes):\n
210    August 11, 1989 Total time of visit (in minute...
211    April 17, 1992 Total time of visit (in minutes...
212    EKG July 24, 1999: QTc 496 msPertinent Medical...
213    July 11, 1997 CPT Code: 90792: With medical se...
214    s Gale Youngquist is a 22 yo single Caucasian ...
215    .August 14, 1981- bad reaction to SpiceK2 - sy...
216     Nov 11, 1988 Total time of visit (in minutes):\n
217    e June 13, 2011 Suicidal Behavior Hx of Suicid...
218    May 14, 1989 QTc  467 ms.  Pertinent Medical R...
219    stwin boys born Dec 14 1975 Gambling behavior:...
dtype: object

In [134]:
df

0           03/25/93 Total time of visit (in minutes):\n
1                         6/18/85 Primary Care Doctor:\n
2      sshe plans to move as of 7/8/71 In-Home Servic...
3                  7 on 9/27/75 Audit C Score Current:\n
4      2/6/96 sleep studyPain Treatment Pain Level (N...
5                      .Per 7/06/79 Movement D/O note:\n
6      4, 5/18/78 Patient's thoughts about current su...
7      10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                           3/7/86 SOS-10 Total Score:\n
9               (4/10/71)Score-1Audit C Score Current:\n
10     (5/11/85) Crt-1.96, BUN-26; AST/ALT-16/22; WBC...
11                         4/09/75 SOS-10 Total Score:\n
12     8/01/98 Communication with referring physician...
13     1/26/72 Communication with referring physician...
14     5/24/1990 CPT Code: 90792: With medical servic...
15     1/25/2011 CPT Code: 90792: With medical servic...
16           4/12/82 Total time of visit (in minutes):\n
17          1; 10/13/1976 Audit C Score, Highest/Date:\n
18                   4, 4/24/98 Relevant Drug History:\n
19     ) 59 yo unemployed w referred by Urgent Care f...
20           7/21/98 Total time of visit (in minutes):\n
21                        10/21/79 SOS-10 Total Score:\n
22      3/03/90 CPT Code: 90792: With medical services\n
23      2/11/76 CPT Code: 90792: With medical services\n
24     07/25/1984 CPT Code: 90791: No medical services\n
25     4-13-82 Other Child Mental Health Outcomes Sca...
26      9/22/89 CPT Code: 90792: With medical services\n
27        9/02/76 CPT Code: 90791: No medical services\n
28                                9/12/71 [report_end]\n
29     10/24/86 Communication with referring physicia...
                             ...
470    y1983 Clinic Hospital, first hospitalization, ...
471    tProblems Urinary incontinence : mild urge inc...
472    .2010 - wife; nightmares and angry outbursts; ...
473         shx of TBI (1975) ISO MVA.Medical History:\n
474    sPatient reported losing three friends that pa...
475                        TSH okay in 2015 Prior EKG:\n
476    1989 Family Psych History: Family History of S...
477    oEnjoys animals, had a dog x 14 yrs who died i...
478    eHistory of small right parietal subgaleal hem...
479    sIn KEP Psychiatryfor therapy and medications ...
480    1. Esophageal cancer, dx: 2013, on FOLFOX with...
481                                        y1974 (all)\n
482    h/o restraining order by sister/mother in 1990...
483    sTexas Medical Center; Oklahoma for 2 weeks; 1...
484    Death of former partner in 2004 by overdose as...
485    Was "average" student.  "I didn't have too man...
486    Contemplating jumping off building - 1973 - di...
487    appendectomy s/p delivery 1992 Prior relevant ...
488    tProblems renal cell cancer : s/p nephrectomy ...
489        ran own business for 35 years, sold in 1985\n
490                                  Lab: B12 969 2007\n
491                                   )and 8mo in 2009\n
492    .Moved to USA in 1986. Suffered from malnutrit...
493                                              r1978\n
494    . Went to Emerson, in Newfane Alaska. Started ...
495    1979 Family Psych History: Family History of S...
496    therapist and friend died in ~2006 Parental/Ca...
497                         2008 partial thyroidectomy\n
498    sPt describes a history of sexual abuse as a c...
499    . In 1980, patient was living in Naples and de...
Length: 500, dtype: object